body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #e4eaff;
  /* background-color: #5f79c0; */
  display: block;
  margin: 0px auto;
  background-color: #5f79c0;
}
.container {
  width: 576px;
}

div .card {
  border-radius: 20px;
  width: 568px;
  height: 631px;
  /* background-image: linear-gradient(rgba(60, 0, 255, 0.589), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1478391679764-b2d8b3cd1e94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"); */

  background-color: #2f48a4;
}

div.crowded-house {
  /* font-family: "Kalam", cursive; */
  font-family: "Courgette", cursive;
  color: #adbeff;
  margin-bottom: 15px;
  text-align: left;
}

.cities {
  width: 900px;
}

a {
  text-decoration: none;
  color: #adbeff;
}

.container-fluid {
  width: 559px;
  padding-left: 0px;
}

div input.form-control {
  width: 270px;
}
.form-control me-2 {
  width: 210px;
}

#city-input {
  font-size: 13px;
  color: grey;
}
/* .search-icon {
  font-size: 22px;
  color: silver;
} */

#search-but {
  margin-right: 8px;
}

.btn-outline-primary {
  color: #ccd2ea;
  border-color: #ccd2ea;
}

.btn-outline-success {
  color: #ccd2ea;
  border-color: #ccd2ea;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: lighter;
}

.date-time {
  margin-top: 0;
  font-size: 14px;
  font-weight: lighter;
  color: #d6d6d6df;
}

#star-cities {
  padding: 10px;
  font-size: 15px;
  color: #ffff;
  display: inline;
}

#star-cities:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.wheather-data {
  text-align: center;
}

#sun-icon {
  font-size: 50px;
  color: #f79e1c;
  position: absolute;
  bottom: 298px;
  width: 97px;
  top: 220px;
  left: 229px;
}

#weather-status {
  font-weight: 300;
  text-align: -webkit-auto;
  width: 341px;
  padding-top: 30px;
  font-size: 25px;
}

strong.degrees {
  font-size: 90px;
  font-weight: lighter;
  text-align: center;
  padding-left: 186px;
}

.degrees-unit-celsius {
  font-family: "Roboto", sans-serif;
  /* color: #95d7f6df; */
  color: #a7a7a8df;
  font-size: 16px;
  display: inline;
  position: absolute;
  top: 252px;
  left: 362px;
}

small.active {
  color: #ffff;
  font-weight: bold;
}

#line-gap {
  font-size: 16px;
  display: inline;
  position: absolute;
  top: 252px;
  left: 389px;
}

#unit-celsius:hover {
  cursor: default;
}

.degrees-unit-fahrenheit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: inline;
  position: absolute;
  top: 252px;
  left: 401px;
  /* color: #95d7f6df; */
  color: #a7a7a8df;
}

#unit-fahrenheit:hover {
  cursor: default;
}
.forecast-rain-wind {
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 404px;
  margin-bottom: 20px;
  left: 16px;
  right: 16px;
  margin-left: 0px;
  margin-right: 0px;
  width: 539px;
}

.weather-forecast {
  margin-top: 94px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 14px;
  color: #a7a7a8df;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  color: #a7a7a8df;
  font-size: 14px;
}

button.trans {
  font-weight: 200;
  border-width: 0;
  border-color: #59abf869;
  background-color: #ccd2ea18;
  border-radius: 10px;
  width: 71px;
  height: 103px;
  position: absolute;
  left: 16px;
  top: 515px;
  cursor: default;
}
button.active {
  font-weight: 200;
  border-width: 0;
  border-color: #59abf869;
  background-color: #ccd2ea18;
  border-radius: 10px;
  width: 71px;
  height: 108px;
  position: absolute;
  left: 16px;
  top: 489px;
  cursor: default;
}
.footer {
  color: #a7a7a8df;
  text-align: center;
  font-size: 12px;
}

a.contact {
  color: #a7a7a8df;
  text-decoration: none;
}

.email:hover {
  color: #0a58ca;
}
